/* .home_image{
    width: 100% !important;
    z-index: -1;
    position: absolute;
    object-fit: fill;
} */
.jumbotronhome{
    color: #000;
    background-image:  linear-gradient(to right, #000 40%, transparent 58%), url('https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/BRND_MAY19_00000_MLP_1440x675_Final_en_CA_PVD2410_MLPUpdates._SY1200_FMJPG_.jpg');
    background-position: right top;
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
    

}

.JumbotronContent{
    position: absolute;
    z-index: 100;
    left:5%;
    color: white;
    padding-right: 55%;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
   
} .JumbotronContent > p{
   font-size: 21px;
   margin: 0;
   padding: 0;
   text-align: left;

} 
   
    


 
 h1{
   
    font-weight: 700;
    text-align: left;
    
    
} 

 .jumbotronbtn{
     font-size: 17px;
     font-weight: 700;
     width: 280px;
     background-color:#0f79af;
     height: 53px;
     position: absolute;
     left: 0;
     padding:0 ;
     
 }
 .membershiptext{
    font-size: 15px;
    margin: 0 0 14px 0;
   padding-top: 12%;
   text-align: left;

 }