
.home{
    display:flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  
   
}
.home_image{
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    mask-image:linear-gradient(to bottom, rgb(155, 150, 150), rgba(0,0,0,0));
    margin-bottom: -300px;
    border:0;
    margin-right: 0;
    
   
}

.home_row{
    display: flex;
    z-index: 100; 
    /* margin-left: 5px; 
    margin-right: 5px; */
    margin-top:0px;
    
 
    
    

}